@use "mixins/mixins" as *;

@keyframes transformLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  color: inherit;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg.loading {
    animation: transformLoading 1s linear infinite;
  }
}
